html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 
<<<<<<< HEAD
  "auto / 1fr 1fr 1fr";
=======
  "1fr 1fr 1fr 1fr / 1fr 1fr 1fr";
>>>>>>> cb134575658d4f30294c378ce758aef897b6d1b4

  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */

.bigItem {
  grid-area: 2 / 2 / 4 / 4;
  height: 50%;
  width: 50%;
  justify-self: center;
}
}
